* {
  box-sizing: border-box;
}

button {
  border: black solid 2px;
  outline: none;
  cursor: pointer;
  width: 38px;
  height: 38px;
  border-radius: 8px;
  background-color: #d1c145;
}

button:hover {
  transform: scale(1.1);
}

body {
  width: 100vw;
  height: 100vh;
  background-color: black;
  margin: 0;
}

.background {
  width: 600px;
  height: 400px;
  background-image: url("img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}

header {
  height: 50%;
  display: flex;
  justify-content: center;
}

.play-btn {
  margin-top: 18px;
}

.timer {
  position: absolute;
  top: 60px;
  left: 300px;
  transform: translateX(-50%);
  width: 80px;
  height: 32px;
  background-color: #f8f7de;
  margin-bottom: 4px;
  border-radius: 8px;
  border: black solid 4px;
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
  cursor: context-menu;
}

.carrot-counter {
  position: absolute;
  top: 96px;
  left: 300px;
  transform: translateX(-50%);
  width: 36px;
  height: 36px;
  background-color: #d08752;
  border-radius: 50%;
  border: black solid 2px;
  text-align: center;
  font-size: 28px;
  line-height: 28px;
  color: white;
  cursor: context-menu;
}

/* carrots and bugs */
.carrot {
  width: 62px;
  height: 62px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("img/carrot.png");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  z-index: -1;
}

.bug {
  width: 38px;
  height: 38px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("img/bug.png");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  z-index: -1;
}

.carrot:hover,
.bug:hover {
  transform: scale(1.2);
}

/* Messages */
.message-container {
  width: 300px;
  height: 90px;
  background-color: rgba(0, 0, 0, 0.6);
  margin: auto;
  position: relative;
  top: 50px;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.replay-btn {
  margin-top: 8px;
}

.message-text {
  font-size: 24px;
  color: white;
}

.mask {
  width: 100%;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.1);
  z-index: 9999;
}

.how-to-play {
  background-image: url(img/howtoplay.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.start-btn {
  width: 150px;
  height: 50px;
  position: absolute;
  top: 155px;
  left: 60px;
  background-color: white;
  font-size: 20px;
  font-weight: bolder;
}
